<header class="bg-black" x-data="{ isOpen: false }">
  <nav class="container px-6 py-4 mx-auto md:flex md:justify-between md:items-center">
    <div class="flex items-center justify-between">
      <a class="text-xl font-bold text-white transition-colors duration-300 transform md:text-2xl hover:text-indigo-400"
        href="#">
        <img class="object-contain w-32 h-32 rounded-full" src="assets/img/LOGO_UYARI.png" alt="logo">
      </a>
      <!-- Mobile menu button -->
      <div class="flex md:hidden">
        <button type="button" class="text-gray-200 hover:text-gray-400 focus:outline-none focus:text-gray-400"
          aria-label="toggle menu">
          <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
            <path fill-rule="evenodd"
              d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
            </path>
          </svg>
        </button>
      </div>
    </div>

    <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
    <div :class="isOpen ? 'flex' : 'hidden'"
      class="flex-col mt-2 space-y-4 md:flex md:space-y-0 md:flex-row md:items-center md:space-x-10 md:mt-0">
      <a class="text-sm font-medium text-gray-200 transition-colors duration-300 transform hover:text-indigo-400"
        href="#">Inicio</a>
      <a class="text-sm font-medium text-gray-200 transition-colors duration-300 transform hover:text-indigo-400"
        href="#">Quiénes Somos</a>
      <a class="text-sm font-medium text-gray-200 transition-colors duration-300 transform hover:text-indigo-400"
        href="#">Noticias</a>
      <button (click)="open(content)" class="px-4 py-1 text-sm font-medium text-center text-gray-200 transition-colors duration-300 transform border rounded hover:bg-indigo-400">
        Contáctanos
      </button>
    </div>
  </nav>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="contact-modal">Informacion de contacto</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <label class="form-label" for="nameInput">Nombres y Apellidos:</label>
            <input type="text" class="form-control" id="nameInput">
        </div>
        <div class="form-group">
            <label class="form-label" for="emailInput">Correo:</label>
            <input type="email" class="form-control" id="emailInput">
        </div>
        <div class="form-group">
            <label class="form-label" for="phoneInput">Telefono:</label>
            <input type="text" class="form-control" id="phoneInput">
        </div>
        <div class="form-group">
            <label class="form-label" for="messageInput">Mensaje:</label>
            <textarea class="form-control" id="phoneInput" rows="3"></textarea>
        </div>
    </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>

  <section class="relative bg-blueGray-50">
    <div class="relative pt-16 pb-32 px-8 flex content-center items-center justify-center min-h-screen-100">
      <!-- <div class="absolute top-0 w-full h-full bg-center bg-cover"
        style="background-image: url('assets/img/banner.png');">
        <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
      </div> -->
      <div class="container relative mx-auto">
        <div class="items-center flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
            <div class="pr-12">
              <h1 class="text-white font-semibold text-5xl">
                Productora audiovisual
              </h1>
              <p class="mt-6 text-2xl font-bold text-white md:text-1xl">Resalta la belleza <br>
                autóctona de nuestro Perú.</p>
            </div>
          </div>
        </div>
      </div>
      <video autoplay [muted]="true" loop class="w-full">
        <source src="assets/video/uyari3.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
        style="transform: translateZ(0px)">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
          version="1.1" viewBox="0 0 2560 100" x="0" y="0">
          <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <section class="pb-10 bg-blueGray-200 -mt-24">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
          <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                  <i class="fa-solid fa-video"></i>
                </div>
                <h6 class="text-xl font-semibold">Productora audiovisual</h6>
                <p class="mt-2 mb-4 text-blueGray-500">
                  Creación de productos audiovisuales de manera personalizada segun el tipo de negocio de nuestros
                  partners.
                </p>
              </div>
            </div>
          </div>
          <div class="w-full md:w-4/12 px-4 text-center">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                  <i class="fa-solid fa-people-group"></i>
                </div>
                <h6 class="text-xl font-semibold">Identidad Cultural</h6>
                <p class="mt-2 mb-4 text-blueGray-500">
                  Nuestro equipo tiene como prioridad mantener toda la identidad cultural en cada proyecto entregado.
                </p>
              </div>
            </div>
          </div>
          <div class="pt-6 w-full md:w-4/12 px-4 text-center">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                  <i class="fa-solid fa-lightbulb"></i>
                </div>
                <h6 class="text-xl font-semibold">Expresa tus ideas</h6>
                <p class="mt-2 mb-4 text-blueGray-500">
                  Tenemos como cultura de trabajo estar codo a codo con nuestros partners para tener un panorama
                  completo de su visión.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="relative  pt-8 pb-6 mt-1">
          <div class="container mx-auto px-4">
            <div class="flex flex-wrap items-center md:justify-between justify-center">
              <div class="w-full md:w-6/12 px-4 mx-auto text-center">
                <div class="text-sm text-white font-semibold py-1">
                  <h6 class="text-3xl font-semibold" style="color: #FEC703;">NOSOTROS</h6>
                  <p class="text-xl">
                    Somos la primera agencia en llevar valor compartido a la sociedad a través de nuestro contenido
                    digital. Generando bienestar, cuidando la salud, el medio ambiente y los animales a través de
                    estrategias creativas. Trabajamos con creatividad, empatía y sostenibilidad para brindarles a
                    nuestros clientes confianza y bienestar.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</header>

<section class="bg-white dark:bg-gray-900">
  <div class="max-w-5xl px-6 py-16 mx-auto">
    <h1 class="text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-white">NUESTROS VALORES
    </h1>

    <p class="max-w-2xl mx-auto my-6 text-center text-gray-500 dark:text-gray-300">
      UYARI es guiada por nuestros valores bien definidos.
    </p>

    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-4">
      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-yellow-400 rounded-xl">
        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">
          Creatividad
        </h1>
      </div>
      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-yellow-400 rounded-xl">
        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">
          Compromiso
        </h1>
      </div>
      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-yellow-400 rounded-xl">
        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">
          Respeto
        </h1>
      </div>
      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-yellow-400 rounded-xl">
        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">
          Responsabilidad
        </h1>
      </div>
      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-yellow-400 rounded-xl">
        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">
          Empatía
        </h1>
      </div>
      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-yellow-400 rounded-xl">
        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">
          Compañerismo
        </h1>
      </div>
      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-yellow-400 rounded-xl">
        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">
          Reconocimiento
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-black">
  <div class="max-w-5xl px-6 py-16 mx-auto">
    <h2 class="text-3xl font-semibold" style="color: #FEC703;">Sobre UYARI</h2>
    <p class="max-w-lg mt-4 text-white">Productora audiovisual "UYARI", el nombre de la productora tiene su origen
      en el quechua cuya traducción al español es: oír , escuchar y percibir llamados. </p>
    <div class="grid gap-8 mt-10 md:mt-20 md:grid-cols-2">
      <div class="flex space-x-4">
        <div>
          <h4 class="text-xl font-semibold" style="color: #FEC703;">Misión</h4>
          <p class="max-w-lg mt-4 text-white">“Nuestro propósito es rescatar y difundir el Patrimonio Cultural del
            Perú.”</p>
        </div>
      </div>

      <div class="flex space-x-4">
        <div>
          <h4 class="text-xl font-semibold" style="color: #FEC703;">Visión</h4>
          <p class="max-w-lg mt-4 text-white">Nuestra visión es que la Productora UYARI sea reconocida
            internacionalmente
            por haber contribuido al enriquecimiento hacia el Patrimonio Cultural del Perú.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="max-w-5xl px-6 py-16 mx-auto">
    <div class="md:flex md:justify-between">
      <h2 class="text-3xl font-semibold text-gray-800">Colaboraciones</h2>
    </div>

    <div class="grid gap-8 mt-10 md:grid-cols-2 lg:grid-cols-2">

      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-yellow-400 rounded-xl">
        <img class="object-contain w-32 h-32 rounded-full ring-4 ring-gray-300" src="assets/img/coca-cola-logo.png"
          alt="logo">

        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">
          Coca Cola</h1>

        <p class="mt-2 text-gray-500 capitalize dark:text-gray-300 group-hover:text-gray-300">
          Distribuidora
        </p>
      </div>

      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-yellow-400 rounded-xl"
        (click)="goToEcommerce()">
        <img class="object-contain w-32 h-32 rounded-full ring-4 ring-gray-300" src="assets/img/WARMIPACHA.png"
          alt="logo">

        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">
          WarmiPacha</h1>

        <p class="mt-2 text-gray-500 capitalize dark:text-gray-300 group-hover:text-gray-300">
          E-commerce
        </p>
      </div>

    </div>
  </div>
</section>

<section class="bg-black">
  <div class="max-w-5xl px-6 py-16 mx-auto space-y-8 md:flex md:items-center md:space-y-0">
    <div class="md:w-2/3">
      <div class="hidden md:flex md:items-center md:space-x-10">
        <img class="object-contain object-center rounded-md w-72 h-72" src="assets/img/coca-cola-logo.png">
        <img class="object-cover object-center w-64 rounded-md h-96" src="assets/img/fundas.png">
      </div>
      <h2 class="text-3xl font-semibold text-white md:mt-6">Campaña COCA COLA </h2>
      <p class="max-w-lg mt-4 text-white">
        La campaña "RESGRESCA LA RUTINA" consistió en que los usuarios podían escanear los código QR que estaban en
        la etiqueta de cada botella de la nueva colección de Coca Cola en colaboración con la productora Uyari donde
        los redirigia a la página de Coca Cola donde vieron que letra conseguieron.
      </p>
      <br>
      <p class="max-w-lg mt-4 text-white">
        Una vez conseguido todas y formado la frase “COCA COLA PERÚ”, El cliente se ganaba pasaje doble con todo
        pagado hacia lugares turísticos del Perú como:
        Machu Picchu, Río Amazonas, Nazca, La montaña de los 7 colores y el Valle del Colca.
      </p>
    </div>
    <div class="md:w-1/3">
      <img class="object-cover object-center w-full rounded-md shadow" style="height: 700px;"
        src="assets/img/producto.jpeg">
    </div>
  </div>
</section>

<section class="bg-white dark:bg-gray-900">
  <div class="max-w-5xl px-6 py-16 mx-auto">
    <h1 class="text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-white">Nuestro
      equipo</h1>

    <p class="max-w-2xl mx-auto my-6 text-center text-gray-500 dark:text-gray-300">
      Contamos con un gran staff de profesionales capacitados para el desarrollo y seguimiento de los proyectos
    </p>

    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-4">
      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-yellow-400 rounded-xl">
        <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300" src="assets/img/XimenaAranda.jpeg" alt="">

        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">
          Ximena Aranda
        </h1>

        <p class="mt-2 text-gray-500 capitalize dark:text-gray-300 group-hover:text-gray-300">Administradora</p>

        <div class="flex mt-3 -mx-2">

          <a href="https://www.instagram.com/ximenaalessarl/" target="_blank"
            class="mx-2 text-gray-600 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300 group-hover:text-white"
            aria-label="Instagram">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24"
              style=" fill:#000000;">
              <path
                d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z">
              </path>
            </svg>
          </a>
        </div>
      </div>

      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-yellow-400 rounded-xl">
        <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300" src="assets/img/FabricioRojas.jpeg"
          alt="">

        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">
          Fabricio
          Rojas</h1>

        <p class="mt-2 text-gray-500 capitalize dark:text-gray-300 group-hover:text-gray-300">Diseñador</p>

        <div class="flex mt-3 -mx-2">

          <a href="https://www.instagram.com/fabriziorjs/" target="_blank"
            class="mx-2 text-gray-600 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300 group-hover:text-white"
            aria-label="Instagram">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24"
              style=" fill:#000000;">
              <path
                d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z">
              </path>
            </svg>
          </a>
        </div>
      </div>

      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-yellow-400 rounded-xl">
        <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300" src="assets/img/MarianneBlas.jpeg" alt="">

        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">
          Marianne
          Blas</h1>

        <p class="mt-2 text-gray-500 capitalize dark:text-gray-300 group-hover:text-gray-300">Gerente</p>

        <div class="flex mt-3 -mx-2">

          <a href="https://www.instagram.com/marianneblaspj/" target="_blank"
            class="mx-2 text-gray-600 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300 group-hover:text-white"
            aria-label="Instagram">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24"
              style=" fill:#000000;">
              <path
                d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z">
              </path>
            </svg>
          </a>
        </div>
      </div>

      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-yellow-400 rounded-xl">
        <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300" src="assets/img/LindaSotacuro2.jpeg"
          alt="">

        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">Linda
          Sotacuro</h1>

        <p class="mt-2 text-gray-500 capitalize dark:text-gray-300 group-hover:text-gray-300">Jefe de Marketing</p>

        <div class="flex mt-3 -mx-2">
          <a href="https://www.instagram.com/lindaflor_sb/" target="_blank"
            class="mx-2 text-gray-600 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300 group-hover:text-white"
            aria-label="Instagram">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24"
              style=" fill:#000000;">
              <path
                d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z">
              </path>
            </svg>
          </a>
        </div>
      </div>

      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-yellow-400 rounded-xl">
        <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300" src="assets/img/HectorSanchez.jpeg"
          alt="">

        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">Hector
          Sanchez</h1>

        <p class="mt-2 text-gray-500 capitalize dark:text-gray-300 group-hover:text-gray-300">Productor</p>

        <div class="flex mt-3 -mx-2">
          <a href="#"
            class="mx-2 text-gray-600 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300 group-hover:text-white"
            aria-label="Instagram">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24"
              style=" fill:#000000;">
              <path
                d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z">
              </path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="border-t bg-black">
  <div class="container flex items-center justify-between px-6 py-8 mx-auto">
    <p class="text-white">©2022 All Rights Reserved.</p>
    <p class="font-medium text-white">Terms of Service</p>
  </div>
</footer>

<app-contact-form></app-contact-form>